*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    margin: auto;
}
.container h1,p{
    text-align: center;
}
h1{
    font-size: 40px;
    padding: 34px;
}
p{
    padding: 10px;
    font-size: 18px;
}
input, textarea{
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color:black;
    background: whitesmoke;
    padding: 2px 12px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position:absolute;
    z-index: -1;
    opacity: 0.6;
}
.submitMsg{
    color: green;
}